services:
  # mongoDb service
  mongo:
    image: mongo:7              # Uses the official MongoDB image version 7
    container_name: cinematch-mongo  # Container name
    ports:
      - "27017:27017"           # Exposes port 27017 on the host for external connections
    volumes:
      - mongo_data:/data/db     # Saves data in a persistent volume
      - ./mongo-init:/docker-entrypoint-initdb.d   # Initialization scripts directory

  # Flask web service
  web:
    build: .                    # Builds the image from the Dockerfile in the current directory
    container_name: cinematch-flask  # Container name
    ports:
      - "5000:5000"             # Exposes port 5000 of the container to the host
    environment:
      MONGO_URI: "mongodb://mongo:27017/cinematch"  # Environment variable to connect to Mongo
    depends_on:
      - mongo                   # Ensures that MongoDB starts before the Flask service

# Persistent volumes
volumes:
  mongo_data:                   # Volume to keep MongoDB data even if the container is removed
