<!DOCTYPE html>
<html lang="it">
  
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CineMatch – Trova il tuo prossimo film preferito</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style-landing-page.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Nav bar -->
  <header>
    <nav class="navbar">
      <!-- logo that send you to home url_for used by flask to avoid static URL -->
      <a href="{{ url_for('home') }}" class="logo">🎬 CineMatch</a>

      <!-- registration link -->
      <ul class="nav-links">
        <li><a href="{{ url_for('registrazione_bp.registrazione') }}">Registrati</a></li>
      </ul>
    </nav>
  </header>
 
  <!-- main section with title and call-to-action -->
  <section class="hero">
    <div class="hero-text">
      <h1>Scopri Film Perfetti per Te</h1>
      <p>Ricevi raccomandazioni basate sui tuoi gusti e su quelli dei tuoi amici.</p>

      <!-- button that send you to login section -->
      <a href="#signup" class="cta-button">Inizia ora</a>
    </div>
  </section>
 
  <!-- section with site infos -->
  <section class="features" id="features">
    <h2>Come Funziona CineMatch</h2>

    <div class="feature-grid">
      <!-- first card -->
      <div class="feature-card">
        <h3>🎥 Valuta i film</h3>
        <p>Dai un voto ai film che hai visto e costruisci il tuo profilo cinematografico.</p>
      </div>

      <!-- second card -->
      <div class="feature-card">
        <h3>📚 Crea liste</h3>
        <p>Organizza i tuoi film preferiti e condividi le tue raccolte.</p>
      </div>
    </div>
  </section>
 
  <!-- sign up section -->
  <section class="signup" id="signup">
    <h2>Unisciti a CineMatch</h2>
    <p>Inizia il tuo viaggio nel mondo del cinema oggi stesso.</p>

    <!-- button that send you to the registration page -->
    <a href="{{ url_for('registrazione_bp.registrazione') }}" class="cta-button dark">Registrati ora</a>
  </section>
  
  <!-- libreria jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
          crossorigin="anonymous">
  </script>

</body>
</html>
